body{
    background-color: #F2F2F2;
}

header{
    background-color: #111111;
    width: 100%;
    height: 80px;
    position: absolute;
    color: #FFFFFF;
    font-family: Display_Regular;
}

header h3{
    font-family: Display_Bold;
    letter-spacing: 3.12px;
    margin-left: 2%;
    margin-top: 10px;
}

header p{
    font-size: 16px;
    margin-left: 9%;
    margin-top: 0.5%;
}

div.lang{
    width: 5%;
    font-family: Display_Medium;
    right: 5%;
    position: absolute;
    top: 35%;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

nav{
    width: 75%;
    height: 80px;
    top: 17%;
    position: absolute;
    font-family: Display_Regular;
    margin-bottom: 18%;
    left: 22%;
}

ul{
    list-style: none;
}

nav ul{
    display: grid;
    grid-template-columns: 12% 12% 12% 12% 14% 12%;
    list-style-type: none;
}

nav li a{
    color: #000000;
}

nav li a:hover{
    text-decoration: underline;
}

nav li.corrente{
    text-decoration: underline;
}

section.hero{
    background-color: #D9D9D9;
    width: 100%;
    height: 50%;
    position: relative;
    margin-bottom: 15%;
    top: 25%;
}

div.testo_home h1, div.testo_home h2{
    margin-bottom: 2%;
}

div.testo_home p{
    font-family: Text_Regular;
    font-size: 30px;
    width: 48%;
}

div.testo_home h1{
    font-family: Display_Bold;
    font-size: 65px;
    width: 40%;
}

div.testo_home{
    font-family: Display_Medium;
    font-size: 26px;
    margin-left: 2%;
    margin-bottom: 4%;
}

div.localnav{
    font-family: Text_Regular;
    font-size: 32px;
    margin-bottom: 15%;
    margin-left: 2%;
}

div.localnav ul{
    display: grid;
    grid-template-columns: auto;
    gap: 20%;
}

div.localnav ul li a{
    color: #000000;
}

div.localnav ul li a:hover{
    text-decoration: underline;
}

footer{
    background-color: #111111;
    width: 100%;
    height: 200px;
    color: #FFFFFF;
    padding-top: 20px;
    padding-bottom: 30px;
    margin: 0;
}

footer h3{
    font-family: Display_Bold;
    letter-spacing: 3.12px;
    margin-left: 2%;
    top: 50px;
    position: relative;
}

footer p{
    font-size: 16px;
    margin-left: 9%;
    top: 55px;
    font-family: Display_Regular;
    position: relative;
}

footer div.grid{
    position: relative;
    width: auto;
    margin: auto;
    margin-left: 40%;
    display: grid;
    grid-template-columns: 35% 35% 30%;
}

footer div.grid div h4{
    font-family: Text_Medium;
    font-size: 20px;
}

footer div.grid div li{
    font-family: Text_Regular;
    font-size: 17px;
}

footer div.grid div li a{
    color: #FFFFFF;
}

footer div.grid div li a:hover{
    text-decoration: underline;
}

footer div.grid div img{
    width: 17px;
    height: 17px;
}

footer div.grid div p{
    width: 255%;
    right: 80%;
}

footer div.grid div.grid_social{
    display: grid;
    grid-template-columns: 8% 8%;
}

@font-face {
    font-family: Display_Regular;
    src: url(font/display/HelveticaNowDisplay-Regular.otf);
}

@font-face {
    font-family: Display_Bold;
    src: url(font/display/HelveticaNowDisplay-Bold.otf);
    font-weight: bold;
}

@font-face {
    font-family: Display_Medium;
    src: url(font/display/HelveticaNowDisplay-Medium.otf);
    font-weight: medium;
}

@font-face {
    font-family: Text_Regular;
    src: url(font/text/HelveticaNowText-Regular.otf);
}

@font-face {
    font-family: Text_Medium;
    src: url(font/text/HelveticaNowText-Medium.otf);
    font-weight: bold;
}