body{
    background-color: #F2F2F2;
}

header{
    background-color: #111111;
    width: 100%;
    height: 80px;
    position: absolute;
    color: #FFFFFF;
    font-family: Display_Regular;
}

header h3{
    font-family: Display_Bold;
    letter-spacing: 3.12px;
    margin-left: 2%;
    margin-top: 10px;
}

header p{
    font-size: 16px;
    margin-left: 11.5%;
    margin-top: 0.5%;
}

div.lang{
    width: 5%;
    font-family: Display_Medium;
    right: 5%;
    position: absolute;
    top: 35%;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

nav{
    width: 100%;
    height: 80px;
    top: 17%;
    position: absolute;
    font-family: Display_Regular;
    margin-left: 18%;
    margin-bottom: 6%;
}

ul{
    display: grid;
    grid-template-columns: 12% 12% 12% 12% 12% 12%;
    list-style-type: none;
}

nav li a{
    color: #000000;
}

nav li a:hover{
    text-decoration: underline;
}

nav li.corrente{
    text-decoration: underline;
}

section.hero{
    background-color: #D9D9D9;
    width: 100%;
    height: 50%;
    position: relative;
    margin-bottom: 15%;
    top: 25%;
}

div.grid_container{
    display: grid;
    grid-template-columns: auto;
    gap: 3%;
}

div.testo_home{
    margin-left: 2%;
    margin-bottom: 4%;
}

div.testo_home h1, div.testo_home h2{
    margin-bottom: 2%;
}

div.testo_home p{
    font-family: Text_Regular;
    font-size: 30px;
    width: 48%;
}

div.testo_home h1{
    font-family: Display_Bold;
    font-size: 65px;
    width: 40%;
}

div.testo_home{
    font-family: Display_Medium;
    font-size: 26px;
}

div.localnav{
    font-family: Text_Regular;
    font-size: 32px;
    margin-bottom: 2%;
    margin-left: 2%;
}

div.localnav ul{
    display: grid;
    grid-template-columns: auto;
    gap: 20%;
}

div.localnav ul li a{
    color: #000000;
}

div.localnav ul li a:hover{
    text-decoration: underline;
}

footer{
    background-color: #111111;
    width: 100%;
    height: 200px;
    color: #FFFFFF;
    margin-top: 30%;
    /*font-family: Display_Regular;*/
}

@font-face {
    font-family: Display_Regular;
    src: url(font/display/HelveticaNowDisplay-Regular.otf);
}

@font-face {
    font-family: Display_Bold;
    src: url(font/display/HelveticaNowDisplay-Bold.otf);
    font-weight: bold;
}

@font-face {
    font-family: Display_Medium;
    src: url(font/display/HelveticaNowDisplay-Medium.otf);
    font-weight: medium;
}

@font-face {
    font-family: Text_Regular;
    src: url(font/text/HelveticaNowText-Regular.otf);
}

@font-face {
    font-family: Text_Medium;
    src: url(font/display/HelveticaNowText-Bold.otf);
    font-weight: bold;
}