body{
    background-color: #F2F2F2;
}

header{
    background-color: #111111;
    width: 100%;
    height: 80px;
    position: absolute;
    color: #FFFFFF;
    font-family: Display_Regular;
}

header a{
    color: #FFFFFF;
}

header h3{
    font-family: Display_Bold;
    letter-spacing: 3.12px;
    margin-left: 2%;
    margin-top: 10px;
}

header p{
    font-size: 16px;
    margin-left: 9%;
    margin-top: 0.5%;
}

div.lang{
    width: 5%;
    font-family: Display_Medium;
    right: 5%;
    position: absolute;
    top: 35%;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

nav{
    width: 75%;
    height: 80px;
    top: 17%;
    position: absolute;
    font-family: Display_Regular;
    margin-bottom: 18%;
    left: 22%;
}

ul{
    list-style: none;
}

nav ul{
    display: grid;
    grid-template-columns: 12% 12% 12% 12% 14% 12%;
    list-style-type: none;
}

nav li a{
    color: #000000;
}

nav li a:hover{
    text-decoration: underline;
}

nav li.corrente{
    text-decoration: underline;
}

section.hero{
    background-color: #D9D9D9;
    width: 100%;
    height: 50%;
    position: relative;
    margin-bottom: 15%;
    top: 25%;
}

div.testo_home h1, div.testo_home h2, div.testo h1, div.testo h2{
    margin-bottom: 2%;
}

div.testo{
    position: relative;
    margin-bottom: 4%;
    left: 2%;
    top: 30%;
}

div.testo_home p, div.testo p{
    font-family: Text_Regular;
    font-size: 30px;
    width: 48%;
    margin-bottom: 2%;
}

div.testo_home h1, div.testo h1{
    font-family: Display_Bold;
    font-size: 65px;
    width: 40%;
}

div.testo_home{
    font-family: Display_Medium;
    font-size: 26px;
    margin-left: 2%;
    margin-bottom: 4%;
}

div.testo h2{
    font-family: Display_Medium;
    font-size: 36px;
}

div.testo ul li{
    font-family: Text_Regular;
    font-size: 32px;
    list-style: disc;
    margin-left: 2%;
}

div.localnav{
    font-family: Text_Regular;
    font-size: 32px;
    margin-bottom: 15%;
    margin-left: 2%;
}

div.localnav ul{
    display: grid;
    grid-template-columns: auto;
    gap: 20%;
}

div.localnav ul li a{
    color: #000000;
}

div.localnav ul li a:hover{
    text-decoration: underline;
}

div.immagine{
    width: 100%;
    position: relative;
    margin-top: 15%;
}

div.immagine img, div.immagine video{
    margin-left: 35%;
}

footer{
    background-color: #111111;
    width: 100%;
    height: 200px;
    color: #FFFFFF;
    padding-top: 20px;
    padding-bottom: 30px;
    margin: 0;
    margin-top: 18%;
}

footer h3{
    font-family: Display_Bold;
    letter-spacing: 3.12px;
    margin-left: 2%;
    top: 50px;
    position: relative;
}

footer p{
    font-size: 16px;
    margin-left: 9%;
    top: 55px;
    font-family: Display_Regular;
    position: relative;
}

footer div.grid{
    position: relative;
    width: auto;
    margin: auto;
    margin-left: 40%;
    display: grid;
    grid-template-columns: 35% 35% 30%;
}

footer div.grid div h4{
    font-family: Text_Medium;
    font-size: 20px;
}

footer div.grid div li{
    font-family: Text_Regular;
    font-size: 17px;
}

footer a{
    color: #FFFFFF;
}

footer a:hover{
    text-decoration: underline;
}

footer div.grid div img{
    width: 17px;
    height: 17px;
}

footer div.grid div p{
    width: 255%;
    right: 80%;
}

footer div.grid div.grid_social{
    display: grid;
    grid-template-columns: 8% 8%;
}

#menuToggle{
    display: none;
}

@font-face {
    font-family: Display_Regular;
    src: url(font/display/HelveticaNowDisplay-Regular.otf);
}

@font-face {
    font-family: Display_Bold;
    src: url(font/display/HelveticaNowDisplay-Bold.otf);
    font-weight: bold;
}

@font-face {
    font-family: Display_Medium;
    src: url(font/display/HelveticaNowDisplay-Medium.otf);
    font-weight: medium;
}

@font-face {
    font-family: Text_Regular;
    src: url(font/text/HelveticaNowText-Regular.otf);
}

@font-face {
    font-family: Text_Medium;
    src: url(font/text/HelveticaNowText-Medium.otf);
    font-weight: bold;
}

@media (max-width: 1100px){
    nav{
        font-size: 12px;
        grid-template-columns: 15% 15% 15% 15% 17% 15%;
    }
}

@media (max-width: 930px){
    #menuToggle
    {
        display: block;
        position: absolute;
        top: 45px;
        right: 10px;
        height:40px;
        z-index: 1;
        -webkit-user-select: none;
        user-select: none;
    }

    #menuToggle a
    {
        text-decoration: none;
        color: #FFFFFF;
        transition: color 0.3s ease;
    }

    #menuToggle a:hover
    {
        text-decoration: underline;
    }

    #menuToggle input
    {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        cursor: pointer;
        opacity: 0;
        z-index: 2;
        -webkit-touch-callout: none;
    }

    #menuToggle span
    {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;
        background: #FFFFFF;
        border-radius: 3px;
        z-index: 1;
        transform-origin: 4px 0px;
        transition: transform 0.2s cubic-bezier(0.77,0.2,0.05,1.0),
                    background 0.2s cubic-bezier(0.77,0.2,0.05,1.0),
                    opacity 0.2s ease;
    }

    #menuToggle span:first-child
    {
        transform-origin: 0% 0%;
    }

    #menuToggle span:nth-last-child(2)
    {
        transform-origin: 0% 100%;
    }

    #menuToggle input:checked ~ span
    {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: #FFFFFF;
    }

    #menuToggle input:checked ~ span:nth-last-child(3)
    {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }

    #menuToggle input:checked ~ span:nth-last-child(2)
    {
        transform: rotate(-45deg) translate(0, -1px);
    }

    #menu
    {
        position: absolute;
        max-width: 150px;
        margin: -100px 0 0 -205px;
        padding: 50px;
        padding-top: 125px;
        background: #1E1E1E;
        list-style-type: none;
        transform-origin: 0% 0%;
    }

    #menu li
    {
        padding: 10px 0;
        font-size: 22px;
    }

    #menuToggle input:checked ~ ul
    {
        transform: none;
    }

    #menuToggle input:not(:checked) ~ ul{
        display: none;
    }

    nav{
        display: none;
    }
}